@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: Josefin-Sans, sans-serif;
    color:rgb(41, 39, 50);
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: left;
    font-weight: normal;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    padding-bottom: 10px;

}
#nav-links {
    letter-spacing: 4px;
    font-size: 120%;
}

#nav-links li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}
#nav-links li {
    display: inline-block;
    text-align: center;
    padding: 5px 30px;

}
#nav-links ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    border-bottom: 1px solid #efb7b7;
}

.active-page {
    border-bottom: 1px solid #efb7b7;
}

button {
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 136, 169, 0.8);
    transition: all 0.8s ease-in-out;
    color: azure;
}

#home-image {
    height: 800px;
    width: 100%;
    background: url('../images/pexels-alexander-dummer-134469.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
#service-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    animation-name: image;
    animation-duration: 5s;
    animation-fill-mode:unset;
}


@keyframes image {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}
#intent {

    text-transform: italic;
    color: darkgoldenrod;
    margin: 0 0;
    font-size: 200%;

}

#intent h2 {
    text-align: center;
    font-weight: normal;
}
#company-details {
    height: 600px;

}
#company-details h2 {
    text-decoration: underline;
}

#about-us {
    padding-top: 30px;
    width: 33%;
    float: left;
    margin-left: 10px;
}
#make-enquiry {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 33%;
    float: right;
    margin-right: 10px;
}
#services-offered {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#locations {
    background: url('../images/pexels-alexander-dummer-134469.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#locations div {
    color: whitesmoke;
    background-color: rgba(0, 0, o, 0.8);
    width: 33%;
    height: 300px;
    float: left;
    justify-content: space-between;
    padding-left: 5px;
    }

#locations h2 {
    color: whitesmoke;
}

footer{
    height:200px;
    text-align: center;
    background-color: rgba(241, 248, 246, 0.504);
}
.social-media {
    text-align: center;

}
.social-media li {
    display: inline-block;
    text-align: center;
    padding: 1%;
    margin: 1%;
    color:rgb(41, 39, 50);
    font-weight: bold;
}
.social-media i {
    color:rgb(41, 39, 50);
}